name: example
description: A new Flutter project.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ">=2.15.1 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  drift_local_storage_inspector:
    path: ../
  storage_inspector: ^0.2.1
  drift: ^1.5.0

dev_dependencies:
  build_runner: ^2.1.7
  drift_dev: ^1.2.1
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.0

flutter:
  uses-material-design: true
